# WaaS credentials
TANGANY_CLIENT_ID=
TANGANY_CLIENT_SECRET=
TANGANY_SUBSCRIPTION=
TANGANY_VAULT_URL=
# e2e tests settings
E2E_WALLET= # Wallet with some testnet balance
E2E_TOKEN= # Ethereum ERC20 Token controlled by E2E_WALLET
# debugging
NODE_ENV=development
DEBUG=waas-js-sdk:*
